.cards-section {
  max-width: 1000px;
  margin: auto;

  .card {
    display: inline-block;
    width: 32%;
    padding: 2rem;
    border-radius: 5px;
    background: linear-gradient(to bottom, #60d2d2, #017575);
    color: $color-white;
    transition: all .4s;
    margin-top: 2rem;
    vertical-align: top;

    &__title-heading {
      text-transform: uppercase;
      font-size: 2.6rem;
      color: $color-red-dark;
      display: inline-block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &__title-tooltip {
      background: #f7f7f7;
      color: #000;
      padding: 1rem 2rem;
      border-radius: 5rem;
      position: absolute;
      top: -3rem;
      border: solid 1px #60d2d2;
      white-space: nowrap;
      display: none;

      &--icon {
        width: 15px;
        height: 15px;
        background: #f7f7f7;
        position: absolute;
        left: 5rem;
        top: 80%;
        transform: rotate(45deg);
      }
    }

    &__summary {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 2rem;
      margin-top: 2rem;
    }

    &__author {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .cards-section {
    .card {
      &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
        transform: translateY(-.5rem);
      }

      &:not(:nth-child(3n+1)) {
        margin-left: 2%;
      }

      &__title-heading {
        &:hover+.card__title-tooltip {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards-section {
    max-width: calc(100% - 4rem);

    .card {
      &:not(:nth-child(3n+1)) {
        margin-left: 2%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cards-section {
    width: 100%;
    padding: 0 1rem;

    .card {
      width: 100%;
      margin: 0;
      margin-top: 1rem;
    }
  }
}