// Colors
$color-primary: #00709a;;
$color-primary-light: #60d2d2;
$color-primary-dark: #017575;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-red: #df1515;
$color-red-dark: #610101;

// FONT
$default-font-size: 1.6rem;