body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.5;
  color: $color-grey-dark;
  box-sizing: border-box;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #60d2d2, #017575);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: .5rem;
}